$black: #000000;
$green: #03FFA5;
$pink: #EE0E7D;

.btn{

    &__cta,
    &__shelfBanner,
    &__shelfSoluctiondisc,
    &__newsletter{
        cursor: pointer;
        transition: background-color 0.2s;
        display: inline-block;
        font-size: 16px;
    }

    &__cta{
        background-color: transparent;
        border: 1px solid $black;
        box-sizing: border-box;
        border-radius: 6px;
        max-width: 200px;
        padding: 12px;

        &:hover{
            background-color: darken(#03FFA5, 10%);
        }
    }

    &__shelfBanner{
        border: 1px solid $pink;
        box-sizing: border-box;
        border-radius: 24px;
        cursor: pointer;
        background-color: transparent;
        color: $pink;
        max-width: 175px;
        padding: 15px;
        white-space: nowrap;

        &:hover{
            background-color: lighten($pink, 45%)
        }
    }

    &__shelfSoluction{
        background: $green;
        border-radius: 6px;
        border: none;
        font-size: 16px;
        color: $black;
        padding: 12px;
        width: 100%;

        &:hover{
            background-color: darken( $green, 10%);
        }
    }

    &__newsletter{
        background-color: $black;
        color: $green;
        font-weight: bold;
        font-size: 16px;
        border: 0;
        position: absolute;
        right: 0;
        top: 20px;
        transition: background-color .2s;
        padding: 15px;
        outline: none;

        &:hover{
            background-color: $green;
            color: $black;
        }
    }
}