$black: #000000;
$white: #ffffff;
$green: #03FFA5;
$gray: #F2F2F2;

.banner{
    background-color: $green;
    padding: 80px;

    &__cta{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-weight: 500;
        font-size: 64px;
        line-height: 77px;
        text-transform: uppercase;
        color: $black;
        padding-right: 90px;
        position: relative;

        &::before{
            content: '//';
            color: $white;
            font-size: 64px;
            left: -80px;
            line-height: 77px;
            text-transform: uppercase;
            position: absolute;
        }
    }

    &__subTitle{
        color: $black;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        max-width: 330px;
        margin: 16px 0 44px;
    }

    &__products{
        position: relative;
    }
}